body {
    /*width: 500px;*/
    margin: 50px;
    text-align: center;
}

.mcontrols {
    display:block;
    height: 64px;
    width: 32px;
    margin-right: 10px;
    border: 0;
    float:left
}

.play {
    background: url("../res/imgs/play.png") no-repeat center;
    background-size: 100%;
}

.pause {
    background: url("../res/imgs/pause.png") no-repeat center;
    background-size: 100%;
}

.stop {
    background: url("../res/imgs/stop.png") no-repeat center;
    background-size: 100%;
}

div.mcontrolsdiv {
    width: 100px;
    height: 100px;

    position: relative;

    left: 0;
    right: 0;

    margin: auto;
}

p {
    padding: 25px;
    font: 20pt bold;
    font-family: "Segoe UI", Arial, Sans-serif;
    color: #bbb;
}